ServeurBikingExecutable/ServeurBikingExecutable/Connected Services/Proxy/Proxy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Proxy" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProxySOAP/Proxy/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProxySOAP/Proxy/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProxy_getStation_InputMessage">
    <wsdl:part name="parameters" element="tns:getStation" />
  </wsdl:message>
  <wsdl:message name="IProxy_getStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStationResponse" />
  </wsdl:message>
  <wsdl:message name="IProxy_getContracts_InputMessage">
    <wsdl:part name="parameters" element="tns:getContracts" />
  </wsdl:message>
  <wsdl:message name="IProxy_getContracts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getContractsResponse" />
  </wsdl:message>
  <wsdl:message name="IProxy_getAllStationsOfAContract_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllStationsOfAContract" />
  </wsdl:message>
  <wsdl:message name="IProxy_getAllStationsOfAContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllStationsOfAContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IProxy">
    <wsdl:operation name="getStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/getStation" message="tns:IProxy_getStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/getStationResponse" message="tns:IProxy_getStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getContracts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/getContracts" message="tns:IProxy_getContracts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/getContractsResponse" message="tns:IProxy_getContracts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllStationsOfAContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/getAllStationsOfAContract" message="tns:IProxy_getAllStationsOfAContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/getAllStationsOfAContractResponse" message="tns:IProxy_getAllStationsOfAContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProxy" type="tns:IProxy">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStation">
      <soap:operation soapAction="http://tempuri.org/IProxy/getStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContracts">
      <soap:operation soapAction="http://tempuri.org/IProxy/getContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllStationsOfAContract">
      <soap:operation soapAction="http://tempuri.org/IProxy/getAllStationsOfAContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Proxy">
    <wsdl:port name="BasicHttpBinding_IProxy" binding="tns:BasicHttpBinding_IProxy">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ProxySOAP/Proxy/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>